	<div id="alert-holder" class="hidden">
  		<div class="alert alert-dismissible fade in" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  	<span aria-hidden="true">&times;</span>
			</button>
			<h5 class="alert-title"></h5>
			<div class="alert-text"></div>
  		</div>
  	</div>