	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Luka Stopar (luka.stopar@ijs.si)">
	
	<title>StreamStory<%= subtitle != null ? (' - ' + subtitle) : '' %></title>
	
	<% if (theme == 'light') { %>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-orig.min.css">
	<link href="css/style-light.css" rel="stylesheet" />
	<% } else { %>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link href="css/style-dark.css" rel="stylesheet" />
	<% } %>
	<link href="lib/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="lib/jquery.qtip.min.css" />
	<link href="css/style.css" rel="stylesheet" />
	
	<script type="text/javascript" src="lib/jquery-1.11.1.min.js"></script>
		
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

    <script type="application/javascript">
        $(document).ready(function () {
            if (window.console == null) window.console = {};
            if (window.console.log == null) window.console.log = function () {};
            if (window.console.error == null) window.console.error = function () {};
        });
    </script>
