  					<% if (page != 'ui.html' && model != null) { %>
					<li>
						<a href="ui.html"><i class="glyphicon glyphicon-eye-open"></i> View Current Model</a>
					</li>
  					<% } %>
  					<% if (page != 'dashboard.html') { %>
					<li>
						<a href="dashboard.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a>
					</li>
  					<% } %>
  					<li class="dropdown">
			            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			                <i class="glyphicon glyphicon-user"></i> <%= username != null ? username : '' %>  <i class="fa fa-caret-down"></i>
			            </a>
			            <ul class="dropdown-menu dropdown-user">
			                <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
			                <li class="divider"></li>
			                <li>
			                	<form id="form-logout" action="api/logout" method="POST"></form>
			               		<a id="a-logout" href="#"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
			                	<script type="text/javascript">
			                		$(document).ready(function () {
			                			$('#a-logout').click(function () {
			                				$('#form-logout').submit();
			                				return false;
			                			});
			                		});
			                	</script>
			                </li>
			            </ul>
			            <!-- /.dropdown-user -->
			        </li>