# eclipse
.settings
.project
.jshintrc

# Vim files
*.swp
.vimrc
tags

# Git files
*.orig

# autocomplete
.tern-project

# node modules
node_modules/
node-modules.tar

# output files
/predictions-*
/activities-*
/activities
/states.*
/friction-coeff.txt
/replay
