<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>

	<style>
		.dl-horizontal dt {
		    white-space: normal;
		    width: 200px;
		    text-align: left;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
  			<% include partials/navlogo %>

    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav navbar-right">
        			<li>
        				<!-- a id="lnk-config" href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
        				<script type="text/javascript">
        					$('#lnk-config').click(function (event) {
        						event.preventDefault();
        						$('#popup-config').modal({ show: true });
        					});
        				</script-->
        			</li>
        			<% include partials/navmenus %>
      			</ul>
    		</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
	</nav>
	
	<div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#tab-password" data-toggle="pill">
                    	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    	Change Password
                    </a>
                </li>
                <li>
                    <a href="#tab-theme" data-toggle="pill">
                    	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    	Change Theme
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    
    <div id="page-wrapper" class="container">
    	<div class="tab-content">
       		<div id="tab-password" role="tabpanel" class="tab-pane fade active">
       			<div class="row">
       				<div class="col-md-4">
			            <form role="form">
			            	<h2>Change password</h2>
							<div class="form-group">
						    	<label for="input-password">Current password:</label>
						    	<input id="input-password" type="password" class="form-control" />
						  	</div>
						  	<div class="form-group">
						    	<label for="input-password-new">New password:</label>
						    	<input id="input-password-new" type="password" class="form-control" />
						  	</div>
						  	<div class="form-group">
						    	<label for="input-password-repeat">Repeat password:</label>
						    	<input id="input-password-repeat" type="password" class="form-control" />
						  	</div>
						  	<div id="alert-wrapper" class="form-group"></div>
						  	<div class="form-group">
						  		<button id="btn-password-cancel" type="button" class="btn btn-default">Cancel</button>
						    	<button id="btn-password-submit" type="button" class="btn btn-success">Reset</button>
						  	</div>
						</form>
					</div>
				</div>
	        </div>
	        <div id="tab-theme" role="tabpanel" class="tab-pane fade active">
       			<div class="row">
       				<div class="col-md-4">
			            <form role="form">
			            	<h2>Select theme</h2>
							<div class="form-group">
								<select id="select-theme" class="form-control">
									<option value="dark" <%= theme == 'dark' ? 'selected="selected"' : '' %>>Dark</option>
									<option value="light" <%= theme == 'light' ? 'selected="selected"' : '' %>>Light</option>
								</select>
						  	</div>
						  	<div id="alert-wrapper-theme" class="form-group"></div>
						  	<div class="form-group">
						  		<button id="btn-theme-cancel" type="button" class="btn btn-default">Cancel</button>
						    	<button id="btn-theme-submit" type="button" class="btn btn-success">Save</button>
						  	</div>
						</form>
					</div>
				</div>
	        </div>
       	</div>
    </div>
    
    <% include partials/includejs %>
    <script type="text/javascript" src="js/profile.js"></script>
    
    <% include partials/alert %>
</body>