<!DOCTYPE html>
<html lang="sl">
<head>
	<% include partials/loginhead %>	
</head>
<body>
	<!--login modal-->
	<form class="form col-md-12 center-block" action="login/resetPassword" method="POST">
		<div id="loginModal" class="modal show" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="text-center">Reset Password</h1>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input type="text" name="email" class="form-control input-lg" placeholder="Email">
						</div>
						<% if (message != null || warning != null || error != null) { %>
						<div class="form-group">
							<% if (message != null) { %>
					   		<div class="alert alert-info" role="alert"><%= message %></div>
					   		<% } else if (warning != null) { %>
					   		<div class="alert alert-warning" role="alert"><%= warning %></div>
					   		<% } else { %>
					   		<div class="alert alert-danger" role="alert"><%= error %></div>
					   		<% } %>
						</div>
						<% } %>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-info btn-lg btn-block">Reset</button>
						<span style="float: left;">
							<a href="login.html">Back</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</form>

	<% include partials/includejs %>
</body>
</html>