/*#vis_toggler {
	position: absolute;
	margin-right: 0px;
	right: 20px;
	top: 50px;
}*/

.nopadding {
   padding: 0 !important;
}

#vis_container {
	height: 100%;
	width: 100%;
}

#content-options {
	top: 32px !important;
	right: -95px !important;
	left: auto !important;
}

#container-details {
	min-height: 200px;
}

#parent_container {
	height: 800px;
}

#div-messages {
	min-height: 400px;
}

#div-config {
	min-height: 600px;
}

#slider_container {
	height: 100%;
	width: 40px;
}

#slider_container {
	float: left;
	width: 23px;
}

#slider_item_div {
	z-index: 100;
	float: right;
	height: 90%;
	margin-top: 15px;
	margin-right: 0px;
}

#slider_transition_limit_container {
	height: 40px;
	width: 80%;
}

#slider_transition_limit_container {
	float: left;
	width: 23px;
}

#slider_limit_item_div {
	z-index: 100;
	float: left;
	height: 90%;
	width: 80%;
	margin-top: 10px;
	margin-right: 0px;
}

#threshold_slider {
	position: absolute;
	bottom: 10px;
	width: 80%;
	margin-left: 40px;
}