html, body {
	height:100%;
}

#container-center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 100%;
}

#container-left {
	float: left;
	width: calc(100% - 400px);
}

#container-right {
	float: right;
	width: 378px;
	padding: 0px;
	padding-left: 20px;
}

#container-msg {
	width: 100%;
	height: 300px;
	margin: 0px;
}

#container-config {
	width: 100%;
	height: calc(800px + 20px + 200px - 20px - 300px);
	margin-top: 20px;
}

#container-details {
	width: calc(100% - 10px);
	min-height: 200px;
	margin-top: 20px;
	padding: 5px;
}

.container {
	border: solid;
	border-width: 1px;
	overflow-y: auto;
}

.clickable:hover {
	background-color: 'gray';
	cursor: pointer;
}

#parent_container {
	position: relative;
	height: 800px;
	width: 100%;
}

#slider_container {
	height: 100%;
	width: 40px;
}

#vis_container {
	height: 100%;
	width: 100%;
}

#slider_container {
	float: left;
	width: 23px;
}

#slider_item_div {
	z-index: 100;
	float: right;
	height: 90%;
	margin-top: 15px;
	margin-right: 0px;
}

#slider_transition_limit_container {
	height: 40px;
	width: 80%;
}

#slider_transition_limit_container {
	float: left;
	width: 23px;
}

#slider_limit_item_div {
	z-index: 100;
	float: left;
	height: 90%;
	width: 80%;
	margin-top: 10px;
	margin-right: 0px;
}

#threshold_slider {
	position: absolute;
	bottom: 10px;
	width: 80%;
	margin-left: 40px;
}