#content-options {
	width: 320px;
	max-width: 320px;
	top: 32px !important;
	right: -117px !important;
	left: auto !important;
}

#div-messages {
	height: 400px;
	overflow: auto;
}

/*===============================================================
 	LAYOUT
===============================================================*/

#vis-wrapper, #div-details {
	height: calc(100% - 40px);
}

#vis_container {
	height: 100%;
	width: 100%;
}

.main-vis {
	height: 600px;
}

.component-title-additional {
	font-size: 12px;
	line-height: 20px;
	color: gray;
}

#div-config {
	min-height: 600px;
}

.row-values {
	height: 70px;
	max_height: 70px;
}

.thumbnail-values {
	overflow-y: hidden;
}

.thumbnail-values .txt-wrapper {
	height: 100%;
	overflow-y: hidden;
}

#div-values-wrapper .thumbnail {
	font-size: 9px;
}

#div-values-wrapper .values-current {
	border-color: #428bca;
	
}

/*===============================================================
 	DETAILS PANEL
===============================================================*/

.container-hist {
	height: 150px;
}

/*===============================================================
 	VISUALIZATION PANEL
===============================================================*/

#slider_container {
	float: left;
	width: 23px;
	height: 100%;
}

#slider_item_div {
	z-index: 100;
	float: right;
	height: 90%;
	margin-top: 15px;
	margin-right: 0px;
}

#slider_transition_limit_container {
	height: 40px;
	width: 80%;
}

#slider_transition_limit_container {
	float: left;
	width: 23px;
}

#slider_limit_item_div {
	z-index: 100;
	float: left;
	height: 90%;
	width: 80%;
	margin-top: 10px;
	margin-right: 0px;
}

#threshold_slider {
	position: relative;
  	bottom: 20px;
  	left: 18%;
  	width: 80%;
}

.tooltip-div-explain {
	font-size: 10px;
	line-height: 11px;
}

#ul-ftrs-obs {
	list-style: none;
	padding-left: 0;
}

/*===============================================================
 	DASHBOARD
===============================================================*/

.col-dashboard {
	min-height: 600px;
	/*border: solid 1px;*/
}

.model-table-container {
	height: 250px;
	overflow-y: auto;
}

.table-models .td-btns {
	width: 150px;
}

.table-hover:HOVER {
	cursor: pointer;
}

.span-details {
	font-weight: bold;
}

.green {
	color: green;
}

.red {
	color: red;
}

/*===============================================================
 	HELPERS
===============================================================*/

.nopadding {
   padding: 0 !important;
}

.clickable:HOVER {
	cursor: pointer;
	background-color: lightgray;
}

.scrollable {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

/*===============================================================
 	HACKS
===============================================================*/

.btn-close {
	cursor: pointer !important;
	position: absolute !important;
	right: 5px !important;
	top: 5px !important;
	z-index: 10 !important;
}

.popover-centered {
	width: 600px !important;
	max-width: none !important;
	height: 370px !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	margin-top: -300px !important;
	margin-left: -185px !important;
}

.navbar {
	margin-bottom: 0px !important;
}


/*===============================================================
 	ADMIN TEMPLATE
===============================================================*/

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        width: calc(100% - 250px);
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}